body {
  background-color: DarkSlateGrey;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

section {
  align-items: center;
}

.input {
  font-size: 20px;
  font-family: sans-serif;
  width: 400px;
  height: 40px;
  border: none;
}

input:focus {
  outline: none;
}

.add-btn {
  font-size: 20px;
  height: 42px;
  border: none;
}

.user-todolist {
  padding: 0px;
}

.list {
  font-size: 20px;
  list-style: none;
  height: 40px;
  width: 400px;
  padding-left: 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  border-bottom: 0.3px solid grey;
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 15px;
}
